/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/login/Auth.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.Auth_title__0Rpvk {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
}

.Auth_subtitle__TtONH {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
  text-align: center;
  margin-top: 5px;
}

